kaldi_active_grammar/exec
portable/
tmp/
*/kaldi_model*/
*/kaldi_tmp*/

# general things to ignore
venv*/
build/
_skbuild/
dist/
wheelhouse/
*.egg-info/
*.egg
*.py[cod]
__pycache__/
*.so
*~
.vscode/

# due to using tox and pytest
.tox
.cache
