kaldi_active_grammar/exec
portable/
tmp/
wheels
examples/*.fst
*/kaldi_model*/
*/kaldi_tmp*/
_cmake_test_compile/

# general things to ignore
venv*/
build/
_skbuild/
dist/
wheelhouse/
wheels/
*.egg-info/
*.egg
*.py[cod]
__pycache__/
*.so
*~
.vscode/
pip-wheel-metadata/

# due to using tox and pytest
.tox
.cache
